<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/controller/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/controller/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelShopClass</servlet-name>
        <servlet-class>controller.DelShopClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelShopClass</servlet-name>
        <url-pattern>/controller/DelShopClass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelGoodsInfo</servlet-name>
        <servlet-class>controller.DelGoodsInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelGoodsInfo</servlet-name>
        <url-pattern>/controller/DelGoodsInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelAddShopCar</servlet-name>
        <servlet-class>controller.DelAddShopCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelAddShopCar</servlet-name>
        <url-pattern>/controller/DelAddShopCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelChangeShopCarNum</servlet-name>
        <servlet-class>controller.DelChangeShopCarNum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelChangeShopCarNum</servlet-name>
        <url-pattern>/controller/DelChangeShopCarNum</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelDeleteShopCar</servlet-name>
        <servlet-class>controller.DelDeleteShopCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelDeleteShopCar</servlet-name>
        <url-pattern>/controller/DelDeleteShopCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelPlaceTheOrder</servlet-name>
        <servlet-class>controller.DelPlaceTheOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelPlaceTheOrder</servlet-name>
        <url-pattern>/controller/DelPlaceTheOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelPersonalInfoChange</servlet-name>
        <servlet-class>controller.DelPersonalInfoChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelPersonalInfoChange</servlet-name>
        <url-pattern>/controller/DelPersonalInfoChange</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelPersonalPasswdChange</servlet-name>
        <servlet-class>controller.DelPersonalPasswdChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelPersonalPasswdChange</servlet-name>
        <url-pattern>/controller/DelPersonalPasswdChange</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelRegister</servlet-name>
        <servlet-class>controller.DelRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelRegister</servlet-name>
        <url-pattern>/controller/DelRegister</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>M_DelShopClass</servlet-name>
        <servlet-class>controller.manage.M_DelShopClass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DelShopClass</servlet-name>
        <url-pattern>/controller/manage/M_DelShopClass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>M_DelManageInfo</servlet-name>
        <servlet-class>controller.manage.DelManageInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DelManageInfo</servlet-name>
        <url-pattern>/controller/manage/DelManageInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>M_DelPersonalInfoChange</servlet-name>
        <servlet-class>controller.manage.M_DelPersonalInfoChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DelPersonalInfoChange</servlet-name>
        <url-pattern>/controller/manage/M_DelPersonalInfoChange</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>M_DelDeleteUser</servlet-name>
        <servlet-class>controller.manage.M_DelDeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DelDeleteUser</servlet-name>
        <url-pattern>/controller/manage/M_DelDeleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendEmails</servlet-name>
        <servlet-class>controller.SendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendEmails</servlet-name>
        <url-pattern>/controller/SendEmail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/controller/ResetPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>M_DelGoodsInfoChange</servlet-name>
        <servlet-class>controller.manage.M_DelGoodsInfoChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DelGoodsInfoChange</servlet-name>
        <url-pattern>/controller/manage/M_DelGoodsInfoChange</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>M_DelDeleteGoods</servlet-name>
        <servlet-class>controller.manage.M_DelDeleteGoods</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>M_DelDeleteGoods</servlet-name>
        <url-pattern>/controller/manage/M_DelDeleteGoods</url-pattern>
    </servlet-mapping>
</web-app>